<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <p><%= @user.name %></p>
        <p><%= @user.area %></p>
        <p><%= @user.email %></p>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <div>
      <button class="btn btn-default"><%= link_to 'Followings', followings_user_path(@user) %></button>
    </div>
  </div>
    <div class="col-md-2">
      <div> 
      <button class="btn btn-default"><%= link_to 'Followers', followers_user_path(@user) %></button>
    </div>
  </div>
</div>
